/* banner styles */

.header{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
    margin: auto;
    
    }  
.banner-content{
    padding: 150px 0;
}
.banner-text1{
  font-size: 32px;
  margin-bottom: 16px; 
}
.banner-text2{ 
    font-size:72px ;
    margin-top: 0;
    width: 630px;
    margin: auto;   
}